{% extends 'base-material.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


<div class="container nowrap" style="background:lightgray; padding:10px; margin-top:5px;" data-magellan>
	<div style="width:50px; font-weight:bold; font-size: 14px;">Legend:</div>
	{% for i in types %}
	<div class="container nowrap" style="max-width:100px;" >
		<div class="data" style="width:15px; height:15px; background:{{i.1}}; ">  </div>
		<div class="data" style="text-align:left; width:100%;"><a href="#{{i.0}}">{{i.0}}</a></div>
	</div>
	{% endfor %}
</div>

	{% for t in types %}
	<section id="{{t.0}}"  data-magellan-target="{{t.0}}">
		<hr/>
		<h4 class="text-center">{{t.0}}</h4>
		<div class="grid-container fluid" style="padding: 1rem 2rem">
			<div class="grid-x grid-margin-x">
		{% for i in t.3 %}

		<div class="cell medium-4 large-2">
			<div class="radius shadow card">
				<div class="" style="background:{{i.color}}; min-height: 64px;">
					<img src="{% static i.image %}" style="float:left; height:64px; width:64px;">
					<div style="font-weight:bold; font-size: 1rem">{{i.award|upper}}</div>
					<div class="grey-text text-darken-3 text-bold" style="font-size: 0.9rem;">{{i.description}}</div>
				</div>
				<div>
					<table class="hover unstriped" style="margin:0">
						<tbody>
							<tr class="fbold freg winner blue-grey lighten-2 text-bold">
								<td> {{i.winners.0.0}}</td>
								<td class="text-right"> {{i.winners.0.1}} </td>
							</tr>
							<tr class="{% if i.winners.1.1 == i.winners.0.1 %} fbold winner freg blue-grey lighten-2 text-bold {% endif %}  " >
								<td > {{i.winners.1.0}}</td>
								<td class="text-right"> {{i.winners.1.1}} </td>
							</tr>
							<tr class="{% if i.winners.2.1 == i.winners.0.1 %} fbold winner freg blue-grey lighten-2 text-bold {% endif %}  " >
								<td > {{i.winners.2.0}}</td>
								<td class="text-right"> {{i.winners.2.1}} </td>
							</tr>
							<tr class="{% if i.winners.3.1 == i.winners.0.1 %} fbold winner freg blue-grey lighten-2 text-bold {% endif %}  " >
								<td> {{i.winners.3.0}}</td>
								<td class="text-right"> {{i.winners.3.1}} </td>
							</tr>
							<tr class="{% if i.winners.4.1 == i.winners.0.1 %} fbold winner freg blue-grey lighten-2 text-bold {% endif %}  ">
								<td > {{i.winners.4.0}}</td>
								<td class="text-right"> {{i.winners.4.1}} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		{% endfor %}
	</div>
</div>
	</section>
	
	{% endfor %}

{% endblock content %}