{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
			{{ page_title|default:"Untitled Page" }}
			{% endblock title %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Changa:wght@300;500&family=Electrolize&family=Heebo:wght@300;400;700&family=Press+Start+2P&display=swap" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="{% static 'gf_icon.png' %}">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'scripts.js' %}"></script>
		<script src="{% static 'sort-table.js' %}"></script>


		

	</head>
	
	<BODY style="background-color:white;">
		<header>
			<div style="text-align: center;"><a href="/" class=""><img src="{% static 'images/gf_header.gif' %}"
                alt="GeekFest Stats" title="Geekfest Stats" style="height: 75px"><br></a>
			</div>    
			<div><ul>
			{% for i,j in stateinfo %}
			<li><a class="{{j}}" href="{{ i }}">{{ i }}</a></li>
			{% endfor %}
			</ul>
			<div class="title"> {{state.page}}</div>
			{% if state.page %}
				{% if user.is_authenticated %}
				<div class="login"><span title="Click to logout"><a href="{% url 'logout' %}">
					<div class="login-img"><img src = "{%static 'images/loggedin.png' %}" style="height: 25px;"></div>
					<div class="login-text"> {{ user.get_username }} </div></a></span></div>
				{% else %}
				<div class="login"><span title="click to login"><a href="/accounts/login">
					<div class="login-img"><img src = "{%static 'images/login.png' %}" style="height: 25px;"></div>
					<div class="login-text"> LOGIN </div></a></span></div>
				{% endif %}
			</div>

			<div class="dateSelector" id="dateselector">
					{% if state.page and state.page != "Event" and state.page != "Geeks" and state.page != "Event Details"  %}
					<div class="label">Showing Data For: </div>
					<form id="dateSeasons" method=post action="{{state.page}}">
						{% csrf_token %}
						<fieldset class="dateSeasons">
							<input type="hidden" name="dateType" value="season">
							<select  name="dateList">
							{% for i in state.seasons %}
								<option value="{{ i.name }}"
								{% if i.name == state.selector %}
									selected
								{% endif %}
								>{{i.name}}</option>
							{% endfor %}
							</select>
							<input type="submit" class="button-gf"></input>
						</fieldset>
					</form>	
					{% if state.page != "Teams" %}
						<form id="dateMatches" method=post action="{{state.page}}">
							{% csrf_token %}
							<fieldset class="dateMatches">
								<input type="hidden" name="dateType" value="match">
								<select name="dateList">
									{% for i in state.event_dates %}
									<option value="{{ i }}"
									{% if i == state.selector %}
										selected
									{% endif %}
									>{{i}}</option>
								{% endfor %}
								</select>
								<input type="submit" class="button-gf"></input>
							</fieldset>
						</form>	
						<form id="dateDates" method=post action="{{state.page}}">
							{% csrf_token %}
							<fieldset class="dates">
								<input type="hidden" name="dateType" value="range"> 
								<input type="date" id="start" name="start_date" value="{{state.start_date}}" min="{{state.event_dates|last}}" max="{{state.event_date|first}}" class="date">
								- <input type="date" id="end" name="end_date" value="{{state.end_date}}" min="{{state.event_dates|last}}" max="{{state.event_date|first}}" class="date">
								<input type="submit" class="button-gf"></input>
							</fieldset>
						</form>

						<div class="buttons">
							<input type="button" class="button" id="rangeButton" value="by range">
							<input type="button" class="button" id="matchButton" value="by match">
							<input type="button" class="button" id="seasonButton" value="by season">
						</div>
					{% endif %}	
				</div>
					{% endif %}
			{% endif %}
		</header>




		<article id="main">
			{% block content %}
			<p>Placeholder text in base template.   Replace with page content.</p>
			{% endblock content %}
		</article>
		<footer>Copyright &copy;
			<script type="text/JavaScript">
				{% if state.datetype == 'range' %} 
					document.getElementById("dateSeasons").style['display'] = "none";
					document.getElementById("dateMatches").style['display'] = "none";
					document.getElementById("dateDates").style['display'] = "inline-block";
					document.getElementById("rangeButton").style['display'] = "none";
					document.getElementById("matchButton").style['display'] = "block";
					document.getElementById("seasonButton").style['display'] = "block";
				{% elif state.datetype == 'match' %} 
					document.getElementById("dateSeasons").style['display'] = "none";
					document.getElementById("dateMatches").style['display'] = "inline-block";
					document.getElementById("dateDates").style['display'] = "none";
					document.getElementById("rangeButton").style['display'] = "block";
					document.getElementById("matchButton").style['display'] = "none";
					document.getElementById("seasonButton").style['display'] = "block";
				{% else %} 
					document.getElementById("dateSeasons").style['display'] = "inline-block";
					document.getElementById("dateMatches").style['display'] = "none";
					document.getElementById("dateDates").style['display'] = "none";
					document.getElementById("rangeButton").style['display'] = "block";
					document.getElementById("matchButton").style['display'] = "block";
					document.getElementById("seasonButton").style['display'] = "none";
				{% endif %}
				document.write(new Date().getFullYear());                    
			</script> GeekFest
		</footer>
	</body>


</html>