{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
			{{ page_title|default:"Untitled Page" }}
			{% endblock title %}
		</title>
		<link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Geostar Fill' rel='stylesheet'>
		<link href="{% static 'zurb-style.css' %}" rel="stylesheet" type="text/css">
        <!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>

        
	</head>
	
	<BODY style="background-color:white;">
		<header id="header">
			<div style="text-align: center;"><img src="{% static 'images/gfkamiv2b.png' %}"
                alt="GeekFest Stats" title="Geekfest Stats" style="height: 75px"><br>
			</div>    
			<ul class="menu">
			{% for i,j in stateinfo %}
			<li><a class="{{j}}" href="{{ i }}">{{ i }}</a></li>
			{% endfor %}
			</ul>
			<div class="title"> {{state.page}}</div>
			<form method=post action="{{state.page}}">
				{% csrf_token %}
				{% if state.page != "Teams" and state.page != "Event" and state.page != "Geeks" %}
                <div class="grid-x align-center">
				<div class="input-group cell medium-8 large-5" style="margin-bottom:0">
                    <span class="input-group-label">Showing Data For: </span>
					<select name="dateList" class="input-group-field">
					<p>{{eventdates}}</p>
					{% for i in eventdates %}
						<option value="{{i}}"
						{% if i == state.selector %}
							selected
						{% endif %}
						>{{i}}</option>
					{% endfor %}
					</select>
					<div class="input-group-button">
                        <input type="submit" class="button" value="Submit">
                    </div>
				</div>
            </div>
			</form>	
				{% endif %}
		</header>

					


		<section id="main">
			{% block content %}
			<p>Placeholder text in base template.   Replace with page content.</p>
			{% endblock content %}
		</section>
		<footer id="footer">Copyright &copy;
			<script type="text/JavaScript">
				document.write(new Date().getFullYear());                    
			</script> GeekFest
		</footer>
	</body>
	
</html>