{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


<!- Details box ->

<div class="container rowwrap ">
	<table style="">
	<TR>
	<TH class="" style="background-color: lightgray;" colspan=6>
		<h3 style="margin:5px;">DETAIL STATS</h3>
		{{playerName}}'s stats 
		{% if rType == 'Map' %}
			for {{details.0.map}} 
		{% elif rType == 'Weapon' %}
			with {{details.0.weapon}} 
		{% else %}
			against {{details.0.killer}} 
		{% endif %}
		on {{details.0.match_datetime|date:"M-d-Y"}}
	</TH>
	</TR><TR style="background:black;color:white;padding:2px;" >
	<TH style="padding:5px;">Date</TH>
	<TH style="padding:5px;">Map</TH>
	<TH style="padding:5px;">Weapon</TH>
	<TH style="padding:5px;">HS?</TH>
	<TH style="padding:5px;">Killer</TH>
	<TH style="padding:5px;">Victim</TH>
	</TR>
	{% for i in details %}
		{% if i.weapon == 'n/a' %}
			<TR style= "background:yellow;">
		{% elif i.id|stringformat:"i" == state.value %}
			<TR style= "background:lightgreen;">
		{% else %}
			<TR style= "background:pink;">
		{% endif %}
		<TD class="acenter">{{i.match_datetime}}</td>
		<TD class="acenter">{{i.map}}</td>
		{% if i.weapon == 'n/a' %}
			<TD class="acenter">ASSIST</td>
			<TD class="acenter">N/A</td>
			<TD class="acenter">{{i.partner}}</td>
			<TD class="acenter">{{i.victim}}</td>
		{% else %}
			<TD class="acenter">{{i.weapon}}</td>
			<TD class="acenter">N/A</td>
			<TD class="acenter">{{i.killer}}</td>
			<TD class="acenter">{{i.victim}}</td>
		{% endif %}
	</TR>
	

	{% endfor %}
</TABLE>
</div>
 
{% endblock content %}