{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


<!- Details box ->
<DIV style="height:30px; text-align:center; margin-bottom: 5px; padding-top: 5px; font-size:20px; background-color:red; color:yellow;">ONLY KILLS DATA BEING DISPLAYED IN BETA</DIV>
<div class="container rowwrap ">
	<table style="">
	<TR>
	<TH style="background:grey;" colspan=6>DETAIL STATS</TH>
	</TR><TR style="background:black;color:white;padding:2px;" >
	<TH style="padding:5px;">Date</TH>
	<TH style="padding:5px;">Map</TH>
	<TH style="padding:5px;">Weapon</TH>
	<TH style="padding:5px;">HS?</TH>
	<TH style="padding:5px;">Killer</TH>
	<TH style="padding:5px;">Victim</TH>
	</TR>
	{% for i in details %}
		{% if i.6|stringformat:"i" == detailinfo.0 %}
			<TR style= "background:lightgreen;">
		{% else %}
			<TR style= "background:pink;">
		{% endif %}
		<TD class="acenter">{{i.match_datetime}}</td>
		<TD class="acenter">{{i.map}}</td>
		<TD class="acenter">{{i.weapon}}</td>
		<TD class="acenter">N/A</td>
		<TD class="acenter">{{i.killer}}</td>
		<TD class="acenter">{{i.victim}}</td>
	</TR>
	

	{% endfor %}
</TABLE>
</div>
 
{% endblock content %}