{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<section>
	<table class="section_center zebra">
		<tr class="black">
			<th>Handle</th>
			<th>Kills</th>
			<th>Deaths</th>
			<th>KDR</th>
			<th>aKDR</th>
			<th>1yr KDR</th>
			<th>last 90 KDR</th>
			<th>Tier</th>
			<th>Matches</th>
			<th>Gen</th>
			<th>Location</th>
			<th>Tenure</th>
		</tr>
		{% for i in geeks %}
		{% if user.get_username|upper == i.player|upper %}
			<tr class="curr_user">
		{% else %}
			<tr>
		{% endif %}
			<td><a href="PlayerDetails?pid={{i.id}}">{{i.player}}</a></td>
			<td class="text_center">{{i.kills}}</td>
			<td class="text_center">{{i.deaths}}</td>
			<td class="text_right">{{i.kdr}}</td>
			<td class="text_right">{{i.akdr}}</td>
			<td class="text_center">
				<span {% if i.kdr <= i.year_kdr %} style="color:green;" {% else %}style="color:red;"{% endif %}>
				{{i.year_kdr}}</span>
			</td>
			<td class="text_center">
				<span {% if i.kdr <= i.last90_kdr %} style="color:green;" {% else %}style="color:red;"{% endif %}>
					{{i.last90_kdr}}</span>
				</td>
			<td class="text_center">{{i.tier}}</td>
			<td class="text_center">{{i.matches}}</td>
			<td class="text_center">{{i.generation}}</td>
			<td class="text_center">{{i.location}}</td>
			<td class="text_right">{{i.tenure}} years</td>
		</tr>
		{% endfor %}
	</table>
</section>

{% endblock content %}