{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="main-content" style="margin-top:-5rem;">

<h1 class="section-title">Tier Awards</h1>
<div class="award-section">
<div class="award master">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">WEST1 MASTER</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;master and commander (? K/D)</div>
  </div>
</div>
  
<div class="award gold">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">GOLD</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;all that glitters</div>
  </div>
</div>

<div class="award silver">
<div class="img img-b" style="background-image:url('../static/images/geeks/unknowngeek.png');">
</div>
<div class="awardcontent">
<div class="aw-header aw-header-b">
<div>
  <span class="awardname">SILVER</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player player-b">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;more than a silver lining</div>
  </div>
</div>

<div class="award bronze">
<div class="img img-b" style="background-image:url('../static/images/geeks/unknowngeek.png');">
</div>
<div class="awardcontent">
<div class="aw-header aw-header-b">
<div>
  <span class="awardname">BRONZE</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player player-b">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Hardest of the hard</div>
  </div>
</div>

</div>







<h1 class="section-title">GF.live MMXXIII Team Awards</h1>
<div class="award-section">
<div class="award">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">MVP</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most Round MVPs (Master Excluded)</div>
  </div>
</div>
  
<div class="award">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">KILLING IN THE NAME OF</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most Kills</div>
  </div>
</div>

<div class="award">
<div class="img" style="background-image:url('../static/images/geeks/unknowngeek.png');">
</div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">TEAM HERO</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most Rescues +  Plants + Diffusals</div>
  </div>
</div>

<div class="award">
  <div class="img" style="background-image:url('../static/images/geeks/unknowngeek.png');">
  </div>
  <div class="awardcontent">
  <div class="aw-header">
  <div>
    <span class="awardname">ROOKIE OF THE LAN</span>
    </div>
    <div>
    <span class="chev1 chev"></span>
    <span class="chev2 chev"></span>
    <span class="chev3 chev"></span>
    <span class="chev4 chev"></span>
    <span class="chev5 chev"></span>
    <span class="chev6 chev"></span>
    </div>
    </div>
    <div class="player">&nbsp;TBD</div>
    <div class="statinfo">&nbsp;Geekfest Virgin with most MVPs</div>
    </div>
  </div>

</div>






<h1 class="section-title">Geekfest 2023 Recognition Awards</h1>
<div class="award-section">
<div class="award silver">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">2022 MVP</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;MOST TOP AWARDS IN SEASONS (EXCL NOOB AND NEW)</div>
  </div>
</div>
  
<div class="award silver">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">JFK</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;most headshots in seasons</div>
  </div>
</div>

<div class="award silver">
  <div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
  <div class="awardcontent">
  <div class="aw-header">
  <div>
    <span class="awardname">KDR</span>
    </div>
    <div>
    <span class="chev1 chev"></span>
    <span class="chev2 chev"></span>
    <span class="chev3 chev"></span>
    <span class="chev4 chev"></span>
    <span class="chev5 chev"></span>
    <span class="chev6 chev"></span>
    </div>
    </div>
    <div class="player">&nbsp;TBD</div>
    <div class="statinfo">&nbsp;biggest 1 year kdr season increase</div>
    </div>
  </div>

  <div class="award silver">
    <div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
    <div class="awardcontent">
    <div class="aw-header">
    <div>
      <span class="awardname">GREATEST IMPACT</span>
      </div>
      <div>
      <span class="chev1 chev"></span>
      <span class="chev2 chev"></span>
      <span class="chev3 chev"></span>
      <span class="chev4 chev"></span>
      <span class="chev5 chev"></span>
      <span class="chev6 chev"></span>
      </div>
      </div>
      <div class="player">&nbsp;TBD</div>
      <div class="statinfo">&nbsp;Best attendance with highest KDR</div>
      </div>
    </div>

    <div class="award silver">
      <div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
      <div class="awardcontent">
      <div class="aw-header">
      <div>
        <span class="awardname">DEDICATION</span>
        </div>
        <div>
        <span class="chev1 chev"></span>
        <span class="chev2 chev"></span>
        <span class="chev3 chev"></span>
        <span class="chev4 chev"></span>
        <span class="chev5 chev"></span>
        <span class="chev6 chev"></span>
        </div>
        </div>
        <div class="player">&nbsp;TBD</div>
        <div class="statinfo">&nbsp;Best attendance</div>
        </div>
      </div>

</div>





<h1 class="section-title">Making A Unique Impact</h1>
<div class="award-section">
<div class="award blue">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">IT'S HIGH NOON</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most revolver kills</div>
  </div>
</div>
  
<div class="award blue">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">RON JEREMY GLORY HOLE</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most penetration kills</div>
  </div>
</div>

<div class="award blue">
<div class="img" style="background-image:url('../static/images/geeks/unknowngeek.png');">
</div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">TALK SHIT, NO KIT</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most no kit diffusal attempts</div>
  </div>
</div>

<div class="award blue">
  <div class="img" style="background-image:url('../static/images/geeks/unknowngeek.png');">
  </div>
  <div class="awardcontent">
  <div class="aw-header">
  <div>
    <span class="awardname">DAD OF THE DAY</span>
    </div>
    <div>
    <span class="chev1 chev"></span>
    <span class="chev2 chev"></span>
    <span class="chev3 chev"></span>
    <span class="chev4 chev"></span>
    <span class="chev5 chev"></span>
    <span class="chev6 chev"></span>
    </div>
    </div>
    <div class="player">&nbsp;TBD</div>
    <div class="statinfo">&nbsp;Highest KDR by a dad</div>
    </div>
  </div>

</div>



<h1 class="section-title">n00b Awards</h1>
<div class="award-section">
<div class="award noob">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">MY BAD</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;most team kills</div>
  </div>
</div>
  
<div class="award noob">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">VARIETY SHOW</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most weapons killed by</div>
  </div>
</div>

<div class="award noob">
<div class="img" style="background-image:url('../static/images/geeks/unknowngeek.png');">
</div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">IN ONE EAR, OUT THE OTHER</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most deaths by headshot</div>
  </div>
</div>

</div>




<h1 class="section-title">Wingman Awards</h1>
<div class="award-section">
<div class="award wingman">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">IT TAKES TWO TO TANGO-DOWN</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Most wingman losses</div>
  </div>
</div>
  
<div class="award wingman">
<div class="img"  style="background-image:url('../static/images/geeks/unknowngeek.png');"></div>
<div class="awardcontent">
<div class="aw-header">
<div>
  <span class="awardname">DREAM TEAM</span>
  </div>
  <div>
  <span class="chev1 chev"></span>
  <span class="chev2 chev"></span>
  <span class="chev3 chev"></span>
  <span class="chev4 chev"></span>
  <span class="chev5 chev"></span>
  <span class="chev6 chev"></span>
  </div>
  </div>
  <div class="player">&nbsp;TBD</div>
  <div class="statinfo">&nbsp;Team that beat the most master players</div>
  </div>
</div>

</div>

<style type="text/css">

@font-face {
  font-family: sourcecodepro;
  src: url("../static/admin/fonts/SourceCodePro-Regular.ttf");
}

.main-content {
font-family: 'Verdana';
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
margin: 0;

}



.aw-header {
  background: #d1272f;
  font-size: 1rem;
  height: 1.2rem;
    padding:0.15rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow: hidden;
	wrap: none;
	color: rgb(27, 27, 27);
}

.chev:before {
  border-style: solid;
	
	content: '';
	display: inline-block;
	height: 1.2rem;
	left: .15em;
	position: relative;
	
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1.2rem;
  left: 0;
	transform: rotate(45deg);
}

.chev1:before {
  border-width: 0.1rem 0.1rem 0 0;
  top: -0.05rem;
  left: 2rem;
}
.chev2:before {
  border-width: 0.3rem 0.3rem 0 0;
  top: -0.15rem;
  left: 2.5rem;
  
}
.chev3:before {
  border-width: 0.5rem 0.5rem 0 0;
  left: 2.4rem;
  top: -0.23rem;
}
.chev4:before {
  border-width: 0.7rem 0.7rem 0 0;
  left: 2.2rem;
  top:-0.32rem;
  
}
.chev5:before {
  border-width: 0.9rem 0.9rem 0 0;
  left: 1.6rem;
  top: -0.49rem;
}
.chev6:before {
  border-width: 1.1rem 1.1rem 0 0;
  left: 0.65rem;
  top:-0.56rem;
  
}

.player {
	color: #fff;
	text-shadow: 3px 3px #d1272f;
	font-size: 2.5rem;
	margin-left: 1rem;
	font-style: italic;
}
.awardname {
	font-weight: bold;
	font-stretch: expanded;
	padding: 0.1rem;
}
.img {
width: 7rem;
height: 8rem;
border: 2px solid #d1272f;
background-color: #3e3e3e;
background-size: cover; 
background-position: center;
}

.awardcontent {
padding-top: 1rem;
padding-bottom: 1rem;
flex-grow: 3;
}

.statinfo {
text-transform: uppercase;
color: white;
font-size: 1.1rem;
margin-top: 0.5rem;
}
.award {
background: rgb(27, 27, 27);
padding: 1rem;
height: 8em;
width: 40rem;
display: inline-block;
margin: 1rem auto;
border-radius: 0.65rem;
display: flex;
}

.award-section { 
display: flex;
flex-wrap: wrap;
justify-content: center;
row-gap: 1rem;
}

.section-title {
text-align: center;
font-size: 3rem;
line-height: 3rem;
margin-top: 4rem;
font-family: "sourcecodepro";
}


.award .img, .award .player {
  opacity: 0;
  transition: opacity 1.5s;
}

.award.showing .img, .award.showing .player {
  opacity: 1;
}


.blue .img {
border-color: #009bd6 !important;
}

.blue .player {
text-shadow: 3px 3px #009bd6 !important;
}

.blue .aw-header {
background-color: #009bd6 !important;
}

.master .img {
 border-color: rgb(254,225,1) !important;
}

.master .player {
	text-shadow: 3px 3px rgb(254,225,1) !important;
}

.master .aw-header {
	background-color: rgb(254,225,1) !important;
}

.gold .img {
 border-color: rgb(214, 175, 54) !important;
}

.gold .player {
	text-shadow: 3px 3px rgb(214, 175, 54) !important;
}

.gold .aw-header {
	background-color: rgb(214, 175, 54) !important;
}

.silver .img {
 border-color: rgb(215, 215, 215) !important;
}

.silver .player {
	text-shadow: 3px 3px rgb(215, 215, 215) !important;
}

.silver .aw-header {
	background-color: rgb(215, 215, 215) !important;
}

.bronze .img {
 border-color: rgb(167, 112, 68) !important;
}

.bronze .player {
	text-shadow: 3px 3px rgb(167, 112, 68) !important;
}

.bronze .aw-header {
	background-color: rgb(167, 112, 68) !important;
}

.specialty .img {
 border-color: rgb(218, 41, 28) !important;
}

.specialty .player {
	text-shadow: 3px 3px rgb(218, 41, 28) !important;
}

.specialty .aw-header {
	background-color: rgb(218, 41, 28) !important;
}

.wingman .img {
 border-color: rgb(33, 90, 108) !important;
}

.wingman .player {
	text-shadow: 3px 3px rgb(33, 90, 108) !important;
}

.wingman .aw-header {
	background-color: rgb(33, 90, 108) !important;
}

.noob .img {
 border-color: rgb(17, 115, 75) !important;
}

.noob .player {
	text-shadow: 3px 3px rgb(17, 115, 75)  !important;
}

.noob .aw-header {
	background-color: rgb(17, 115, 75)  !important;
}


</style>

</div>

<script type="text/javascript">

window.onload = function() {
  var allDivs = document.getElementsByTagName('div');
  for (var i=0; i<allDivs.length; i++) {
    var curDiv = allDivs[i];
    if (curDiv.classList.contains('award')) {
      curDiv.onclick = function() {
        var awardDiv = this.closest('.award');
        awardDiv.classList.add('showing');
        console.log(awardDiv);
      }
    }
  }
}

</script>



{% endblock content %}