{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


<div class="page rowwrap">
	{% for i in mapstats %}
	<div class="highlightbox">
		<div class="header">{{i.map|upper}}</div>
			<table class="" style="background: linear-gradient(rgba(191,191,191,0.5),rgba(191,191,191,0.5)),url('/static/images/{{i.map}}.jpg');
										background-repeat: no-repeat;background-size: cover;">
				<tr class="black">
					<td>Player</td>
					<td>KDR</td>
				</tr>
				{% for j in i.player_info.values|dictsortreversed:'kdr' %}				
				{% if user.get_username|upper == j.player|upper %}
					<tr class="curr_user">
				{% else %}
					<tr>
				{% endif %}
						<td><a href="PlayerDetails?pid={{j.id}}">{{j.player}}</a></td>
						<td><a href="Details?pid={{j.id}}&mid={{i.map}}">{{j.kdr|floatformat:2}}</a></td>	
					</tr>
				{% endfor %}
			</table>
		</div>

	{% endfor %}

</div>
{% endblock content %}
