{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<link href="{% static 'dragdrop.css' %}" rel="stylesheet" type="text/css">

{% with i=maps %}

<div class="container">
  <div style="display:contents; width:50%;">
    <div class="box"
      {% if i.metascore > 75 %}
        style="background: #6c3;"
      {% elif i.metascore > 50 %}
        style="background: #Fc3;"
      {% elif i.metascore > -1 %}
        style="background: #f00;"
      {% else %}
        style="background: gray;"
      {% endif %}>
        <span title="{{i.votes}} votes">{{i.metascore}}</span>
    </div>
    <div class="map-title" style="display:inline-block;">{{maps.name}}</div>
  </div>
  <div class="" style="display:inline-block;">
    <div class="stats-container">
      <div class="mapstat_title"><b>Team Win %:</b></div>
      <div class="mapstat_detail">
        <div><span title="Counter-Terrorist"><img src="/static/images/CT.png" style="height:25px; width:25px;" class="img-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></span></div>
      <span title="The Win % for CT's is:  {{i.balance}}%"><progress value="{{i.balance}}" max="100" style="width:190px; "></progress></span>
      <div><span title="Terrorist"><img src="/static/images/T.png" style="height:25px; width:25px;" class="img-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></span></div>
    </div>
    </div>
    
    
    <div class="stats-container">
      <div class="mapstat_title"><b>Objectives: </b></div>
      <div class="mapstat_detail"><span title=""></span>
        <div class="objective-bar" style="background:linear-gradient(to right, 
          darkred {% if i.explode_pct %} {{i.explode_pct}}% {% else %} 0% {% endif %}, 
          rgb(203, 185, 125) {% if i.explode_pct %} {{i.explode_pct}}% {% else %} 0% {% endif %}, 
          rgb(203, 185, 125) {% if i.plant_pct %} {{i.plant_pct}}% {% else %} 0% {% endif %}, 
          gray {% if i.explode_pct %} {{i.explode_pct}}% {% else %} 0% {% endif %},
          gray 100% ,green 0);"> Detonated {{i.explode_pct|floatformat:0}}% - Planted {{i.plant_pct|floatformat:0}}% 
        </div>
      </div>
    </div>

    <div class="stats-container">
      <div class="mapstat_title"><b>Specialties:</b></div>
      <div class="mapstat_detail">
        {% if i.ninja_pct > 2 or i.snipe_pct > 10 or i.hmg_pct > 10 or i.plant_pct > 20 %}
          {% if i.ninja_pct > 2 %} <span class="inline" title="{{ i.ninja_pct|floatformat }}% of kills including: {{i.tazes}} tazes, {{i.flames}} flames, {{i.grenades}} grenades, and {{i.knives}} stabs"><img src="{% static 'images/ninja_icon1'%}.png" height="20" align="center"> </span>{% endif %}
          {% if i.snipe_pct > 10 %} <span class="inline" title="{{i.snipe_pct|floatformat }}% of kills were from snipers"><img src="{% static 'images/sniper'%}.png" height="25" align="center"></span>{% endif %}
          {% if i.hmg_pct > 10 %} <span class="inline" title="{{i.hmg_pct|floatformat }}% of kills were from LMG mow downs"><img src="{% static 'images/hmg3'%}.png" height="25" align="center"></span>  {% endif %}
          {% if i.plant_pct > 20 %} <span class="inline" title="{{i.success_rounds|floatformat:0 }}% of rounds played resulted in a bomb explosion win"><img src="{% static 'images/bomb'%}.png" height="25" align="center"></span>  {% endif %}
        {% else %}
          None
        {% endif %}
      </div>
    </div>

</div>
</div>

<div class="stats-container" style="background-color: none;"">

  <div>
  <table style="padding:0px 100px;">
    <tr>
      <td><b>Your Rating: </b></td>
      <td style="min-width: 110px;"><input type="hidden" value="{{i.geek_rating}}">
        <ul class="list-inline rating-list" style="background-color: transparent; border-right:none;">
          <li style="border-right: none;" onclick="ratingUpdate({{i.id}},{{userid}}, 5)"><i id="star5-{{i.id}}" class="fa fa-star {% if i.geek_rating > 4 %}checked{% endif %}" title="Greatest map EVER!!!"></i></li>
          <li style="border-right: none;" onclick="ratingUpdate({{i.id}},{{userid}}, 4)"><i id="star4-{{i.id}}" class="fa fa-star {% if i.geek_rating > 3 %}checked{% endif %}" title="I like it!"></i></li>
          <li style="border-right: none;" onclick="ratingUpdate({{i.id}},{{userid}}, 3)"><i id="star3-{{i.id}}" class="fa fa-star {% if i.geek_rating > 2 %}checked{% endif %}" title="It's playable"></i></li>
          <li style="border-right: none;" onclick="ratingUpdate({{i.id}},{{userid}}, 2)"><i id="star2-{{i.id}}" class="fa fa-star {% if i.geek_rating > 1 %}checked{% endif %}" title="meh"></i></li>
          <li style="border-right: none;" onclick="ratingUpdate({{i.id}},{{userid}}, 1)"><i id="star1-{{i.id}}" class="fa fa-star {% if i.geek_rating > 0 %}checked{% endif %}" title="Pure rubbish"></i></li>
        </ul>
      </td>
    </tr>
  </table>
  </div>

<div class="stats-container">
  <div class=""><b># of plays:</b></div>
  <div class="" style="padding-left: 10px;">
    {% for p in i.playslist %}
      {% if forloop.counter > i.s_plays %}
        <span title="off season play"><div class="bullet"></div></span>
      {% else %}
      <span title="season play"><div class="bullet" style="background-color: darkred;"></div></span>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="" style="padding-left: 50px;">
  <b>Last Played   </b>
  {% if i.last_play != 'Never Player' %} {{i.last_play_date|timesince}} ago
  {% endif %}
</div>

<div class="" style="padding-left: 50px;">
  <b>Theme: </b>   
  {{i.theme}}
</div>

</div>


<hr class="solid">
{% if i.description %}
<div style="text-align:center; padding-bottom: 3px;">{{i.description}}</div>
{%endif%}


  <div class="container" id="mapDetails" style="flex-wrap: wrap;"> 
  <!-- Pic Displayer wrapper -->
  <div class="block-50" style="">
    <div class="pics-container">
      <div class="pics-hero"><img data-enlargeable width="100" style="cursor: zoom-in" src="/media/{{i.hero_image}}" class="img-hero" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>  
    </div>
    <div class="pics-container">
      <div><img data-enlargeable width="100" style="cursor: zoom-in" src="/media/{{i.image2}}" class="img-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>
      <div><img data-enlargeable width="100" style="cursor: zoom-in" src="/media/{{i.image3}}" class="img-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>
      <div><img data-enlargeable width="100" style="cursor: zoom-in" src="/media/{{i.radar}}" class="img-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>
      <div><img data-enlargeable width="100" style="cursor: zoom-in" src="/media/{{i.thumb}}" class="img-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>
    </div>
    {% if i.workshop %}
    <div style="text-align:center;"><b>Steam Workshop Link:  </b><a href="{{i.workshop}}">{{i.workshop}}</a></div>
    {%endif%}
    
  </div>

  <!-- Pic Displayer wrapper -->

  <div class="block-24 pics-div">
    <div class="pics-hdr"><h2>TOP GEEKS:</h2></div>
    <div class="pics-container-scroll">
      {% for p in i.players reversed %}
      <div style="width:100%; display:flex; border:3px solid white;">
        <div class="" style=" ">
          <img src="/static/images/geeks/{{p.item|lower}}.png" class="geek-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/> 
        </div>
      <div class="pics-col" style="text-align:left;">
        <h3 style="margin:5px;">{{p.item}}</h3>
      </div>
      <div class="pics-col">
        <div><h3>{{p.count}} Kills</h3></div>
      </div>  
    </div>
    {% endfor %}
    </div>

  </div>

  <div class="block-24 pics-div">
    <div class="pics-hdr"><h2>TOP GUNS:</h2></div>
    <div class="pics-container-scroll">
      {% for p in i.weapons reversed %}
      <div style="width:100%; display:flex; border:3px solid white;">
        <div class="weapons-hero" style="width:50%; ">
        {{p.item}}
        <img src="/static/images/{{p.item}}.png" class="geek-hero" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>
      </div>
      <div class="pics-col">
        <div><h3>{{p.count}}</h3></div>
        <div>Kills</div>
      </div>  
    </div>
    {% endfor %}
    </div>
  </div>

</div>

{% if request.user.is_staff %}
<div class="cfest" style="width:100%; margin:auto; padding:5px; text-align: center;"> 
  <h3 style="margin: 2px;">Staff Admin: <input type="button" id="adminbtn" class="adminbtn" value="Edit Details"></h3>
</div>
{% endif %}

<div id="mapEdit" style="display:none; margin: auto; width:900px;">
  <div style="background-color: lightgray; padding:5px;border-radius: 10px;">
  <h2 style="text-align: center;">Map Data</h2>
  <div style="text-align:left; display: flex;">
    <div style="display: flex; padding-bottom: 10px;">
      <div>
        <div class="inline wide100"> Theme: </div><div class="inline"> <input type="text" name="theme" id="theme" size="25" maxlength="45" value="{{i.theme}}"></div>
      </div>
      <div>
        <div class="inline wide100"> Workshop #: </div><div class="inline"> <input type="text" name="workshop_map_nbr" id="map_nbr" size="25" maxlength="45" value="{{i.workshop_map_nbr}}"></div>
      </div>
    </div>
  </div>
    <div style="display: flex; padding-bottom: 10px;">
      <div>
        <div class="inline wide100"> Workshop Link: </div><div class="inline"> <input type="text" name="workshop_link" id="workshop" size="95" maxlength="150" value="{{i.workshop}}"></div>
      </div>
    </div>
    <div class="container" style="padding:0px; justify-content: left;"><div class="inline wide100"> Description: </div><div class="inline"> <textarea name="description" id="desc" rows="2" cols="95" maxlength="500" value="{{i.description}}"></textarea></div>
  </div>        
  </div>


  <div style="text-align:center; padding-top: 15px;" class="map-summary">
  <div class="">

  <div  class="">
  <div id="drop-area">
    <form class="my-form">
      {% if user.is_authenticated %}
        <p>Replace or add image by dragging and dropping new image onto the dashed region</p>
      {% endif %}
        <div class="image-wrap">
          <h3>HERO</h3>
          <img id="hero" src="/media/{{i.hero_image}}" loading="lazy" alt="no image on server" height="200" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>
          <input type="file" id="fileElem" accept="image/*" onchange="handleImgFiles(this.files, 'imghero')">
        </div>
        <div class="image-wrap">
          <h3>RADAR</h3>
          <img id="radar" src="/media/{{i.radar}}" loading="lazy" alt="no image on server" height="200" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>
          <input type="file" id="fileElem" accept="image/*" onchange="handleImgFiles(this.files, 'radar')">
        </div>
        <div class="image-wrap">
          <h3>IMAGE 2</h3>
          <img id="image2" src="/media/{{i.image2}}" loading="lazy" alt="no image on server" height="200" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>
          <input type="file" id="fileElem" accept="image/*" onchange="handleImgFiles(this.files, 'imghero')">
        </div>
        <div class="image-wrap">
          <h3>IMAGE 3</h3>
          <img id="image3" src="/media/{{i.image3}}" loading="lazy" alt="no image on server" height="200" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>
          <input type="file" id="fileElem" accept="image/*" onchange="handleImgFiles(this.files, 'imghero')">
        </div>
        <div class="image-wrap">
          <h3>THUMBNAIL</h3>
          <img id="thumb" src="/media/{{i.thumb}}" loading="lazy" alt="no image on server" height="200" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>
          <input type="file" id="fileElem" accept="image/*" onchange="handleImgFiles(this.files, 'imghero')">
        </div>
    </form>
    <form action="/Map2" method="post" enctype ="multipart/form-data">
        {% csrf_token %}
    </form>
  </div>
</div>
</div>
<script>
  $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
  var src = $(this).attr('src');
  var modal;

  function removeModal() {
    modal.remove();
    $('body').off('keyup.modal-close');
  }
  modal = $('<div>').css({
    background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
    backgroundSize: 'contain',
    width: '100%',
    height: '100%',
    position: 'fixed',
    zIndex: '10000',
    top: '0',
    left: '0',
    cursor: 'zoom-out'
  }).click(function() {
    removeModal();
  }).appendTo('body');
  //handling ESC
  $('body').on('keyup.modal-close', function(e) {
    if (e.key === 'Escape') {
      removeModal();
    }
  });
  });

</script>
{% if user.is_authenticated %}
<script>

    // ************************ AJAX Setup ***************** //

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});
    // ************************ Drag and drop ***************** //
let dropArea = document.getElementById("drop-area")

// Prevent default drag behaviors
;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, preventDefaults, false)   
  document.body.addEventListener(eventName, preventDefaults, false)
})

// Highlight drop area when item is dragged over it
;['dragenter', 'dragover'].forEach(eventName => {
  dropArea.addEventListener(eventName, highlight, false)
})

;['dragleave', 'drop'].forEach(eventName => {
  dropArea.addEventListener(eventName, unhighlight, false)
})

// Handle dropped files and updated fields
dropArea.addEventListener('drop', handleDrop, false)
theme.addEventListener('change', handleUpdate)
map_nbr.addEventListener('change', handleUpdate)
desc.addEventListener('change', handleUpdate)
workshop.addEventListener('change', handleUpdate)

const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

function preventDefaults (e) {
  e.preventDefault()
  e.stopPropagation()
}

function highlight(e) {
  dropArea.classList.add('highlight')
}

function unhighlight(e) {
  dropArea.classList.remove('highlight')
}

function handleDrop(e) {
  var dt = e.dataTransfer
  var files = dt.files
  handleImgFiles(files,e.target.id)
}

function handleImgFiles(files, field) {
  previewImgFile(files[0], field)
  uploadFile(files[0], field)
}
function previewImgFile(file, field) {
  let reader = new FileReader()
  reader.onloadend = function() {
    let img = document.createElement('img')
    img.src = reader.result
    document.getElementById(field).src = img.src
  }
  reader.readAsDataURL(file)
}

function handleUpdate(e) {
  var data = e
  var id = e.srcElement.id
  var name = e.srcElement.name
  var data = document.getElementById(id).value
  console.warn('data',data)
  updateData(id, name, data)
}

function updateData(id, name, value) {
    var form = new FormData();
    var user = "{{request.user}}"

    form.append("did", {{maps.id}});
    form.append("field", name);
    form.append("value", value);
    form.append("uid", "{{request.user}}");

    var settings = {
        "url": "http://stats.geekfestclan.com/api/stats/dataupdate/",
        // "url": "http://192.168.0.208:8000/api/stats/dataupdate/",
        "method": "POST",
        "timeout": 0,
        // "headers": {
        // 	"Cookie": "sessionid=fkcrfqey2igzl8m9alg6qlsihcd0n89j"
        // },
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };
    console.warn('settings',settings)
    $.ajax(settings).done(function (response) {
    console.log(response);
    });
}

function uploadFile(file,field) {
    var form = new FormData();
    console.warn('field',field)
    console.warn('file',file)

    form.append("mid", {{maps.id}});
    form.append("type", field);
    form.append("image", file);

    var settings = {
        "url": "http://stats.geekfestclan.com/api/stats/mapimg/",
        // "url": "http://192.168.0.208:8000/api/stats/mapimg/",
        "method": "POST",
        "timeout": 0,
        // "headers": {
        // 	"Cookie": "sessionid=fkcrfqey2igzl8m9alg6qlsihcd0n89j"
        // },
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
    };

    $.ajax(settings).done(function (response) {
    console.log(response);
    });
}

document.getElementById("adminbtn").onclick = function() {
  if (document.getElementById("adminbtn").value == "Close") {
    document.getElementById("mapDetails").style['display'] = "inline-block";
    document.getElementById("mapEdit").style['display'] = "none" 
    document.getElementById("adminbtn").value = "Edit Details"  
  }
  else {
  document.getElementById("mapEdit").style['display'] = "block";
  document.getElementById("mapDetails").style['display'] = "none" 
  document.getElementById("adminbtn").value = "Close"
  }
};

function ratingUpdate(map, geek, rating) {

			var form = new FormData();
			form.append("map_id", map);
			form.append("user_id", geek);
			form.append("rating", rating);

			var settings = {
			"url": "http://stats.geekfestclan.com/api/stats/rating/",
      // "url": "http://192.168.0.208:8000/api/stats/rating/",
			"method": "POST",
			"timeout": 0,
			// "headers": {
			// 	"Cookie": "sessionid=fkcrfqey2igzl8m9alg6qlsihcd0n89j"
			// },
			"processData": false,
			"mimeType": "multipart/form-data",
			"contentType": false,
			"data": form
			};

			$.ajax(settings).done(function (response) {
			console.log(response);
			});

			var ele5 = 'star5-' + map, ele4 = 'star4-' + map, ele3 = 'star3-' + map, ele2 = 'star2-' + map, ele1 = 'star1-' + map;
			document.getElementById(ele5).classList.remove('checked');
			document.getElementById(ele4).classList.remove('checked');
			document.getElementById(ele3).classList.remove('checked');
			document.getElementById(ele2).classList.remove('checked');
			document.getElementById(ele1).classList.remove('checked');

			if (rating>4) {
				document.getElementById(ele5).classList.add('checked');
			} 
			if (rating>3) {
				document.getElementById(ele4).classList.add('checked');
			} 
			if (rating>2) {
				document.getElementById(ele3).classList.add('checked');
			} 
			if (rating>1) {
				document.getElementById(ele2).classList.add('checked');
			} 
			if (rating>0) {
				document.getElementById(ele1).classList.add('checked');
			} 
		}


</script>


{% endif %}
{% endwith %}
{% endblock content %}

