{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<!- Player summary stats box ->
<section>
	<hr style="border-top: 2px solid black;">
	<div id="graph" class="pop-graph">{{chart|safe}}</div>
	<div class="summary">
		<div class= "container" style="min-width: 50%; padding:5px;">
			<div><img src ="/static/images/geeks/{{player.name|lower}}.png" height="175"></div>
			<div class="highlightbox"> 
				<div class="fbig">
	{% if player.name == 'No data' %} 
					</div>
					<div class="fmed">{{player.nemesis}} </div></div>
	{% else %}
				
				
				{{player.name}}
				{% if geek.0.validated < 1 %} 
					{% if geek.0.email|length > 5 %} 
						{% if geek.0.valid_sent_date %} 
							<span title="This player has been claimed but not responded.  click to resend email.">
								<a href="PlayerDetails?pid={{player.id}}&claim=resend"><img src="/static/images/details_resend.png" class="imgicon"></a>
							</span>
						{% else %} 
							<span title="This player can be claimed.  Click to send validation email to address on file.">
								<a href="PlayerDetails?pid={{player.id}}&claim=claim"><img src="/static/images/details_claim.png" class="imgicon"></a>
							</span>
						{% endif %}
					{% else %}  
						<span title="This player has no email on file.  Contact your administrator to claim."><img src="static/images/details_noemail.png" class="imgicon"></span>
					{% endif %} 
				{% else %}
					{% if user.is_authenticated and user.get_username|upper == player.name|upper %}
						<span title="Your account is fully validated.  Click here to reset your password."><a href="{% url 'password_reset' %}"><img src="/static/images/details_reset.png" class="imgicon"></a></span>
					{% else %}
						<span title="This player has been validated and is an active clan member"><img src="/static/images/details_validated.png" class="imgicon"></span>
					{% endif %}
				{% endif %} 
			  
				</div>
				<div class="">
					<span class="fbig">{{player.KDR}}</span>
					KDR 
					{% if player.diff_alltime_kdr >= 0 %}
						<span style="color:green;">+{{player.diff_alltime_kdr}} vs avg</span>
					{% else %}
						<span style="color:red;">{{player.diff_alltime_kdr}} vs avg</font></span>
					{% endif %}

				</div>
			</div>
			<table>
				<tr height="25px" class="header">
					<td width="33%" class="">Top Victim</td>
					<td width="33%" class="">Nemesis:</td>
					<td rowspan=4 width="33%" onMouseOver="showGraph();" onMouseOut="hideGraph();">	{{chart|safe}}</td>
				</tr>
				<tr height="25px" class="fmed acenter">
					<td class="floral">
						<div class="container">
							<div class="inline"><img src="/static/images/geeks/{{player.topVictim|lower}}.png" class="geek-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/> </div>
							<div class="inline">{{player.topVictim}}</div>
						</div>
					</td>
					<td class="floral">
						<div class="container">
							<div class="inline"><img src="/static/images/geeks/{{player.nemesis|lower}}.png" class="geek-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/>  </div>
							<div class="inline">{{player.nemesis}}</div>
						</div>
					</td>
				</tr>
				<tr height="25px" class="header">
					<td class="">Best Weapon:</td>
					<td class="">Favorite Map:</td>
				</tr>
				<tr height="25px" class="fmed acenter">
					<td class="floral">
						<div class="container">
							<div class="inline"><img src="/static/images/{{player.weapons.0.item}}.png" class="geek-hero" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>
							<div class="inline">{{player.weapons.0.item}}</div>
						</div>
					</td>
					<td class="floral">
						<div class="container">
							<div class="inline"><img src="url('test.png')" id="topmap" class="geek-thumb" loading="lazy" alt="no image on server" onload="getImage('topmap','{{player.maps.0.item}}')" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot; ;"/></div>
							<div class="inline">{{player.maps.0.item}}</div>
						</div>
					</td>
				</tr>

			</table>
	{% endif %}
		</div>
	</div>
</section> 


<section class="text_center">

	<!- Weapon stats box ->
	<div style="width:33%;" class="pics-div">
		<div class="pics-hdr"><h2 style="margin:5px;">WEAPON STATS:</h2></div>
		<div class="pics-container-scroll">
			<div style="width:100%; display:flex;">
				<div class="weapons-hero black" style="min-width:70%">Weapon</div>
				<div class="weapons-hero black" style="min-width:14%; display:inline-flex;">Kills</div>
				<div class="weapons-hero black" style="min-width:14% display:inline-flex;">Deaths</div>
			</div>		  
		{% for p in player.weapons %}
		  <div style="width:100%; display:flex; border:3px solid white;">
			<div class="weapons-hero" style="min-width:30%">
			  <img src="/static/images/{{p.item}}.png" class="geek-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot;" style="width:auto;"/> 
			</div>
		  <div class="pics-col" style="min-width: 40%; text-align:left;  overflow: hidden;">
			<h3 style="margin:5px;"><a href="Details?pid={{player.id}}&wid={{p.item}}">{{p.item}}</a></h3>
		  </div>
		  <div class="pics-col" style="min-width: 14%;">
			<div><h3>{{p.kills}}</h3></div>
		  </div>  
		  <div class="pics-col" style="min-width: 14%;">
			<div><h3>{{p.deaths}}</h3></div>
		  </div>  
		</div>
		{% endfor %}
		</div>
	
	  </div>
	
	 <!- Opponents stats box ->

	 <div style="width:33%;" class="pics-div">
		<div class="pics-hdr"><h2 style="margin:5px;">OPPONENT STATS:</h2></div>
		<div class="pics-container-scroll">
			<div style="width:100%; display:flex;">
				<div class="weapons-hero black" style="min-width:65%">Opponent</div>
				<div class="weapons-hero black" style="min-width:10%; display:inline-flex;">K</div>
				<div class="weapons-hero black" style="min-width:10%; display:inline-flex;">D</div>
				<div class="weapons-hero black" style="min-width:15%; display:inline-flex;">KDR</div>
			</div>		  
		{% for p in player.opponents %}
		  <div style="width:100%; display:flex; border:3px solid white;">
			<div class="weapons-hero" style="min-width:25%">
			  <img src="/static/images/geeks/{{p.item|lower}}.png" class="geek-thumb" loading="lazy" alt="no image on server" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot;" style="width:auto; max-height: 100%;"/> 
			</div>
		  <div class="pics-col" style="min-width: 40%; text-align:left;  overflow: hidden;">
			<h3 style="margin:5px;"><a href="Details?pid={{player.id}}&oid={{p.item}}">{{p.item}}</a></h3>
		  </div>
		  <div class="pics-col" style="min-width: 10%;">
			<div><h3>{{p.kills}}</h3></div>
		  </div>  
		  <div class="pics-col" style="min-width: 10%;">
			<div><h3>{{p.deaths}}</h3></div>
		  </div>  
		  <div class="pics-col" style="min-width: 15%;">
			<div><h3>{{p.kdr}}</h3></div>
		  </div>  

		</div>
		{% endfor %}
		</div>
	
	</div>

 
	<!- Maps stats box ->
	<div style="width:33%;" class="pics-div">
		<div class="pics-hdr"><h2 style="margin:5px;">MAP STATS:</h2></div>
		<div class="pics-container-scroll">
			<div style="width:100%; display:flex;">
				<div class="weapons-hero black" style="min-width:55%">Map</div>
				<div class="weapons-hero black" style="min-width:10%; display:inline-flex;">K</div>
				<div class="weapons-hero black" style="min-width:10%; display:inline-flex;">D</div>
				<div class="weapons-hero black" style="min-width:10%; display:inline-flex;">A</div>
				<div class="weapons-hero black" style="min-width:15%; display:inline-flex;">KDR</div>
			</div>		  
		{% for p in player.maps %}
		  <div style="width:100%; display:flex; border:3px solid white;">
			<div class="weapons-hero" style="min-width:25%">
			  <img src="/media/{{p.item}}.png" class="geek-thumb" name="" loading="lazy" id="img{{forloop.counter}}" alt="no image on server" onload="getImage('img{{forloop.counter}}','{{p.item}}')" onerror="this.src=&quot;{% static 'images/'%}map_not_found.jpg&quot;" style="width:auto; max-height: 100%;"/> 
			</div>
		  <div class="pics-col" style="min-width: 30%; text-align:left;  overflow: hidden;">
			<h3 style="margin:5px;"><a href="Details?pid={{player.id}}&mid={{p.item}}">{{p.item}}</a></h3>
		  </div>
		  <div class="pics-col" style="min-width: 10%;">
			<div><h3>{{p.kills}}</h3></div>
		  </div>  
		  <div class="pics-col" style="min-width: 10%;">
			<div><h3>{{p.deaths}}</h3></div>
		  </div>  
		  <div class="pics-col" style="min-width: 10%;">
			<div><h3>{{p.assists}}</h3></div>
		  </div>  
		  <div class="pics-col" style="min-width: 15%;">
			<div><h3>{{p.kdr}}</h3></div>
		  </div>  

		</div>
		{% endfor %}
		</div>
	
	</div>

<script>

	function getImage(img, reqMap) {
		if (document.getElementById(img).name == "loaded") {
			return
		}
		var imgID = img
		console.log(imgID)
		var map = reqMap
		// var URL = "http://192.168.0.208:8000/api/stats/getimg?mid=0&map="+map+"&type=thumb"
		var URL = "http://stats.geekfestclan.com/api/stats/getimg?mid=0&map="+map+"&type=thumb"
		console.log(URL)
		fetch(URL, {
		headers:{
			'Accept': 'application/json',
			'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
		},
		})
		.then(response => {
			return response.json() //Convert response to JSON
		})
		.then(data => {
			//Perform actions with the response data from the view
			console.log(data)
			document.getElementById(imgID).name = "loaded"
			document.getElementById(imgID).src = data
		})
	}

</script>
	
</section>

<section class="text_center">
	<div style="width:33%;" class="pics-div">
		<div class="pics-hdr"><h2 style="margin:5px;">HIT STATS:</h2></div>
		<div style="position: relative; font-size: 0.8rem; width: 400px; height: 400px; background-image: URL('/static/images/csgotpose.jpg'); background-size: contain; margin:0 auto">
			<!--<img src="/static/images/csgotpose.jpg" style="object-fit: contain;"/>-->
			<span style="position: absolute; font-size: 1em; top:5%; left: 0; right:0">HEAD: {{player.hitgroups.head}}%</span>
			<span style="position: absolute; font-size: 1em; top:17%; left: 5%;">LEFT ARM: {{player.hitgroups.leftarm}}%</span>
			<span style="position: absolute; font-size: 1em; top:17%; right: 5%;">RIGHT ARM: {{player.hitgroups.rightarm}}%</span>
			<span style="position: absolute; font-size: 1em; top:32%; left: 62%;">CHEST: {{player.hitgroups.chest}}%</span>
			<span style="position: absolute; font-size: 1em; top:42%; right: 60%;">STOMACH: {{player.hitgroups.stomach}}%</span>
			<span style="position: absolute; font-size: 1em; top:70%; right: 60%;">LEFT LEG: {{player.hitgroups.leftleg}}%</span>
			<span style="position: absolute; font-size: 1em; top:70%; left: 60%;">RIGHT LEG: {{player.hitgroups.rightleg}}%</span>
		</div>
	  </div>
</section>

 
{% endblock content %}