{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<!- Player summary stats box ->
<section>
	<div id="graph" class="pop-graph">{{chart|safe}}</div>
	<div class="summary">
		<span class="rowheader">PLAYER STATS FOR: </span>
		<div class= "container" style="min-width: 50%; padding:5px;">
			<div class="highlightbox"> 
				<div class="fbig">
	{% if player.name == 'No data' %} 
					{{geek.0.handle}} </div>
					<div class="fmed">{{player.nemesis}} </div></div>
	{% else %}
						{{player.name}}
				{% if geek.0.validated < 1 %} 
					{% if geek.0.email|length > 5 %} 
						{% if geek.0.valid_sent_date %} 
							<span title="This player has been claimed but not responded.  click to resend email.">
								<a href="PlayerDetails?pid={{player.id}}&claim=resend"><img src="/static/images/details_resend.png" class="imgicon"></a>
							</span>
						{% else %} 
							<span title="This player can be claimed.  Click to send validation email to address on file.">
								<a href="PlayerDetails?pid={{player.id}}&claim=claim"><img src="/static/images/details_claim.png" class="imgicon"></a>
							</span>
						{% endif %}
					{% else %}  
						<span title="This player has no email on file.  Contact your administrator to claim."><img src="static/images/details_noemail.png" class="imgicon"></span>
					{% endif %} 
				{% else %}
					{% if user.is_authenticated and user.get_username|upper == player.name|upper %}
						<span title="Your account is fully validated.  Click here to reset your password."><a href="{% url 'password_reset' %}"><img src="/static/images/details_reset.png" class="imgicon"></a></span>
					{% else %}
						<span title="This player has been validated and is an active clan member"><img src="/static/images/details_validated.png" class="imgicon"></span>
					{% endif %}
				{% endif %} 
			  
				</div>
				<div class="">
					<span class="fbig">{{player.KDR}}</span>
					KDR 
					{% if player.diff_alltime_kdr >= 0 %}
						<span style="color:green;">+{{player.diff_alltime_kdr}} vs avg</span>
					{% else %}
						<span style="color:red;">{{player.diff_alltime_kdr}} vs avg</font></span>
					{% endif %}

				</div>
			</div>
			<table>
				<tr height="25px" class="header">
					<td width="33%" class="">Top Victim</td>
					<td width="33%" class="">Nemesis:</td>
					<td rowspan=4 width="33%" onMouseOver="showGraph();" onMouseOut="hideGraph();">	{{chart|safe}}</td>
				</tr>
				<tr height="25px" class="fmed acenter">
					<td class="floral">{{player.topVictim}}</td>
					<td class="floral">{{player.nemesis}}</td>
				</tr>
				<tr height="25px" class="header">
					<td class="">Best Weapon:</td>
					<td class="">Favorite Map:</td>
				</tr>
				<tr height="25px" class="fmed acenter">
					<td class="floral">{{player.weapons.0.item}}</td>
					<td class="floral">{{player.maps.0.item}}</td>
				</tr>

			</table>
	{% endif %}
		</div>
	</div>
</section> 


<section class="text_center">

	<!- Weapon stats box ->
	<div class="highlightbox">
		<div class="header">Weapon Stats</div>
			<table class="zebra">
				<tr class="black">
					<td>Weapon</td>
					<td>K</td>
					<td>D</td>
				</tr>
				{% for i in player.weapons %}
				<tr>
					<td><a href="Details?pid={{player.id}}&wid={{i.item}}">{{i.item}}</a></td>
					<td>{{i.kills}}</td>	
					<td>{{i.deaths}}</div>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
	 <!- Opponents stats box ->
	<div class="highlightbox">
	<div class="header">Opponent Stats</div>
		<table class="zebra">
			<tr class="black">
	
				<td>Opponent</td>
				<td>K</td>
				<td>D</td>
				<td>KDR</td>
			</tr>
			{% for i in player.opponents %}
			<tr>
	
				<td><a href="Details?pid={{player.id}}&oid={{i.item}}">{{i.item}}</a></td>
				<td>{{i.kills}}</td>	
				<td>{{i.deaths}}</td>
				<td>{{i.kdr}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	 
	  <!- Maps stats box ->
	  <div class="highlightbox">
		<div class="header">Map Stats</div>
			<table class="zebra">
				<tr class="black">
					<td>Map</td>
					<td>K</td>
					<td>D</td>
					<td>A</td>
					<td>KDR</td>
				</tr>
				{% for i in player.maps %}
				<tr>
					<td><a href="Details?pid={{player.id}}&mid={{i.item}}">{{i.item}}</a></td>
					<td>{{i.kills}}</td>	
					<td>{{i.deaths}}</td>
					<td>{{i.assists}}</td>
					<td>{{i.kdr}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>

	
</section>

 
{% endblock content %}