{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<input type="hidden" id="dateList" name="dateList" value="n/a">
<div class="headband acenter">
		<fieldset>
			Showing Data For: 
			<select name="seasonList">
			
			{% for i in seasons %}
				<option value="{{i.name}}"
				{% if i.name == state.season %}
					selected
				{% endif %}
				>{{i.name}}</option>
			{% endfor %}
			</select>
			<button type="submit">Submit</button>
		</fieldset>
		</form>
</div>

<table>
	<tr class="black acenter">
		<td>SEASON INFO</td>
		<td style="background:darkslategray;">TEAM 1</td>
		<td style="background:darkred;">TEAM 2</td>
	</tr>
	<tr class="acenter">
		<td></td>
		<td class="fbig fbold cgeek">{{gfgames.team1}}</td>
		<td class="fbig fbold cfest">{{gfgames.team2}}</td>
	</tr>
	<tr class="acenter">
		<td></td>
		<td class="fbig fbold cgeek">{{gfgames.team1wins}}</td>
		<td class="fbig fbold cfest">{{gfgames.team2wins}}</td>
	</tr>
	<tr class="acenter">
		<td></td>
		<td class="cgeek">{{gfgames.team1matchwins}} matches won</td>
		<td class="cfest">{{gfgames.team2matchwins}} matches won</td>
	</tr>
	<tr class="acenter">
		<td></td>
		<td class="cgeek">{{gfgames.team1rdwins}} rounds won</td>
		<td class="cfest">{{gfgames.team2rdwins}} rounds won</td>
	</tr>
	{% for i in gfgames.match %}
	<tr class="black acenter">
		<td colspan="4">{{i.date}}</td>
	</tr>
	{% for j in i.round %}
	<tr class="acenter">
		<td class="fbold fmed"><a href="http://maps.geekfestclan.com/{{j.map}}.bsp">{{j.map|lower}}</a></td>
		<td class="fmed cgeek">{% if j.score.0 == None %}			--	{% else %}{{j.score.0}}{% endif %}</td>
		<td class="fmed cfest">{% if j.score.1 == None %}			--	{% else %}{{j.score.1}}{% endif %}</td>
	</tr>
	{% endfor %}
	{% endfor %}
</table>




	
{% endblock content %}