{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}


<section class="winners">
	<div class="award-section">
		<div class="award master">
			<div class="img"  style="background-image:url('/static/images/geeks/{{tier0.0.player|lower}}.png');"></div>
			<div class="awardcontent">
				<div class="aw-header master">
					<div>
						<span class="awardname" title="All Gold restrictions plus no AK47 or M4A1">MASTER</span>
					</div>
					<div>
						<span class="chev1 chev"></span>
						<span class="chev2 chev"></span>
						<span class="chev3 chev"></span>
						<span class="chev4 chev"></span>
						<span class="chev5 chev"></span>
					</div>
				</div>
				<div class="player">{{tier0.0.player}}</div>
				<div class="statinfo">master and commander </div>
				<div class="statinfo">{{tier0.0.new_kdr|floatformat:2}} K/D</div>
			</div>
		</div>
		<div class="award gold">
			<div class="img"  style="background-image:url('/static/images/geeks/{{tier1.0.player|lower}}.png');"></div>
			<div class="awardcontent">
				<div class="aw-header gold">
					<div>
						<span class="awardname" title="All Silver restrictions plus no Aug or Sg556">GOLD</span>
					</div>
					<div>
						<span class="chev1 chev"></span>
						<span class="chev2 chev"></span>
						<span class="chev3 chev"></span>
						<span class="chev4 chev"></span>
						<span class="chev5 chev"></span>
					</div>
				</div>
				<div class="player">{{tier1.0.player}}</div>
				<div class="statinfo">all that glitters </div>
				<div class="statinfo">{{tier1.0.new_kdr|floatformat:2}} K/D</div>
			</div>
		</div>
		<div class="award silver">
			<div class="img"  style="background-image:url('/static/images/geeks/{{tier2.0.player|lower}}.png');"></div>
			<div class="awardcontent">
				<div class="aw-header silver">
					<div>
						<span class="awardname" title="No autosnipers, AWP or Negev">SILVER</span>
					</div>
					<div>
						<span class="chev1 chev"></span>
						<span class="chev2 chev"></span>
						<span class="chev3 chev"></span>
						<span class="chev4 chev"></span>
						<span class="chev5 chev"></span>
					</div>
				</div>
				<div class="player">{{tier2.0.player}}</div>
				<div class="statinfo">more than a silver lining</div>
				<div class="statinfo">{{tier2.0.new_kdr|floatformat:2}} K/D</div>
			</div>
		</div>
		<div class="award bronze">
			<div class="img"  style="background-image:url('/static/images/geeks/{{tier3.0.player|lower}}.png');"></div>
			<div class="awardcontent">
				<div class="aw-header bronze">
					<div>
						<span class="awardname" title="No restrictions">BRONZE</span>
					</div>
					<div>
						<span class="chev1 chev"></span>
						<span class="chev2 chev"></span>
						<span class="chev3 chev"></span>
						<span class="chev4 chev"></span>
						<span class="chev5 chev"></span>
					</div>
				</div>
				<div class="player">{{tier3.0.player}}</div>
				<div class="statinfo">&nbsp;harder than hard</div>
				<div class="statinfo">{{tier3.0.new_kdr|floatformat:2}} K/D</div>
			</div>
		</div>
	</div>
</section>
<div class="page">



	
</div>
<div class="acenter">
	<table class="js-sort-table section_center">
		<thead>
		<tr class="black">
			<th class="js-sort-number">Rank</th>
			<th>Player</th>
			<th class="js-sort-number">Kills</th>
			<th class="js-sort-number">Deaths</th>
			<th class="js-sort-number">Assists</th>
			<th class="js-sort-number">KDR</th>
			<th class="js-sort-number"><span title="aKDR adds .25kills for every assist to KDR / total deaths">KDR w/ assist</span></th>
			<th class="js-sort-number"><span title="Variance from average is based on last year of play">vs 1yr AVG</span></th>
			<th>Top Weapon</th>
			<th class="js-sort-number">All Time KDR</th>
			<th class="">Tier</th>
		</tr>
		</thead>
		{% for i in players %}
		{% if user.get_username|upper == i.player|upper %}
			<tr class="{{ i.tier|lower }} curr_user">
		{% else %}
			<tr class="{{ i.tier|lower }}">
		{% endif %}
				<td class="" align=center>{{forloop.counter}}</td>
				<td class=""><a href="PlayerDetails?pid={{i.geekid}}">{{i.player}}</a></td>
				<td class="">{{i.kills__sum}}</td>
				<td class="">{{i.deaths__sum}}</td>
				<td class="">{{i.assists__sum}}</td>
				<!-- <td class="">{{i.kdr__avg|floatformat:2}}</td> -->
				<td class="">{{i.new_kdr|floatformat:2}}</td>
				<td class="">{{i.akdr__avg|floatformat:2}}</td>
				<td {% if i.diffkdr > 0 %}
					style="color:green; font-weight:bold;">+ 
					{% elif i.diffkdr < 0 %}
					style="color:red; font-weight:bold;">
					{% endif %} 
					{{i.diffkdr|floatformat:2}}</td>
				<td><span title="{{i.weapon.weapon__count}} kills with a {{i.weapon.weapon}}"><img src="{% static 'images/'%}{{ i.weapon.weapon}}.png" align="center" class="weapon"></span></td>
				<td>{{i.alltime_kdr}}</td>
				<td>{{i.tier_id}}</td>
			</tr>
		{% endfor %}
		
	</table>
	<p><a href="https://sites.google.com/view/gfxxv/rules#h.b735l0b8asys" target="_blank">View Tier Restriction Rules</a></p>
</div>


{% endblock content %}

