{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="page rowwrap">
	{% for i in weapons %}
		<div class="container rowwrap m5px tile250">
			<div class="header">
				{{i.item_description}}
				<img src="{% static 'images/'%}{{ i.item_name}}.png" align="center">
			</div>
			<div class="container rowwrap">
				<div class="container" >
					<div class="rowheader data focus">Player</div>
					<div class="rowheader data">Kills</div>
				</div>
			{% for j in i.player_info %}
				{% if j.kills > 0 %}
				<div class="container row">
					<div class="data focus"><a href="PlayerDetails?pid={{j.id}}">{{j.player}}</a></div>
					<div class="data"><a href="Details?pid={{j.id}}&wid={{i.item_name}}">{{j.kills}}</a> </div>
				</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
	
{% endblock content %}
