{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="page rowwrap">
	{% for i in weapons %}
		<div class="container rowwrap m5px tile250">
			<div class="header">
				{{i.item_description}}
				<img src="{% static 'images/'%}{{ i.item_name}}.png" align="center">
			</div>
			<table class="table table-striped table-data data">
				<thead>
					<tr class="rowheader">
						<th>Player</th>
						<th class="text-right">Kills</th>
						<th class="text-right">Deaths</th>
						<th class="text-right">Buys</th>
					</tr>
				</thead>
				<tbody>
					{% for j in i.player_info.values %}

					<tr>
						<td><a href="PlayerDetails?pid={{j.id}}">{{j.player}}</a></td>
						<td class="text-right"><a href="Details?pid={{j.id}}&wid={{i.item_name}}">{{j.kills}}</a></td>
						<td class="text-right"><a href="Details?pid={{j.id}}&wid={{i.item_name}}">{{j.deaths}}</a></td>
						<td class="text-right">{{j.buys}}</td>
					</tr>
			{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
</div>

<style>
	.table.table-data td, .table.table-data th {
		padding-right: 0.2rem;
		margin: 0;
	}

	.table.table-data {
		border-collapse: collapse; 
		border-spacing: 0;
		width: 100%;
	}

	.text-right {
		text-align: right;
	}
</style>
	
{% endblock content %}
