{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<div class="page rowwrap">
	{% if not weapons %}<P>You must be logged in to see Weapons Data</P>{% endif %}
	{% for i in weapons %}
	<div class="highlightbox">
		<div class="header">
			{{i.item_description}}
			<img src="{% static 'images/'%}{{ i.item_name}}.png" align="center" height="30">
		</div>
			<table class="zebra">
				<tr class="black">
					<td>Player</td>
					<td>Kills</td>
					<td>Deaths</td>
					<td>Buys</td>
				</tr>
				{% for j in i.player_info.values %}
				{% if user.get_username|upper == j.player|upper %}
					<tr class="curr_user">
				{% else %}
					<tr>
				{% endif %}
						<td><a href="PlayerDetails?pid={{j.id}}">{{j.player}}</a></td>
						<td><a href="Details?pid={{j.id}}&wid={{i.item_name}}">{{j.kills}}</a></td>	
						<td><a href="Details?pid={{j.id}}&wid={{i.item_name}}">{{j.deaths}}</a>
						<td>{{j.buys}}</td>
					</tr>
				{% endfor %}
			</table>
	</div>
	{% endfor %}



	
{% endblock content %}
