# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
geekstats/media/maps/1_jX4EM4z0_6aYRyRb4POZSQ.png
geekstats/media/maps/5c5937980984a.jpg
geekstats/media/maps/5e594647baf34.jpg
geekstats/media/maps/cs_office_hero.jpg
geekstats/media/maps/cs_office_hero_0wWXCaj.jpg
geekstats/media/maps/cs_office_hero_5dOB2bC.jpg
geekstats/media/maps/cs_office_hero_rDSgr9V.jpg
geekstats/media/maps/cs_office_hero_wMEbbnp.jpg
geekstats/media/maps/cs_office_image2.jpg
geekstats/media/maps/cs_office_image2_P0dhQfP.jpg
geekstats/media/maps/cs_office_image3.jfif
geekstats/media/maps/cs_office_image3_6VRQEnN.jfif
geekstats/media/maps/cs_office_image3_XbPRvrw.jfif
geekstats/media/maps/cs_office_radar.png
geekstats/media/maps/cs_office_radar_6ES18po.png
geekstats/media/maps/cs_office_radar_eZuKrou.png
geekstats/media/maps/cs_office_radar_gaFnrXR.png
geekstats/media/maps/cs_office_radar_gesIDJC.png
geekstats/media/maps/cs_office_radar_JhJebn5.png
geekstats/media/maps/cs_office_radar_PjESiiG.png
geekstats/media/maps/cs_office_radar_Q2CktnV.png
geekstats/media/maps/cs_office_radar_z6qu9av.png
geekstats/media/maps/cs_office_thumb.jpg
geekstats/media/maps/cs_office_thumb_ho7cy72.jpg
geekstats/media/maps/de_engage-02.jpg
geekstats/media/maps/De_engage.webp
geekstats/media/maps/De_engage_radar.webp
geekstats/media/maps/De_new_inferno.jpg
geekstats/media/maps/download.jpg
geekstats/media/maps/download_6LHtiUh.jpg
geekstats/media/maps/download_HJCkjbS.jpg
geekstats/media/maps/download_U5MMSMa.jpg
geekstats/media/maps/download_v0XCbnR.jpg
geekstats/media/maps/Gartner_headquarters_cropped_7OuftNJ.jpg
geekstats/media/maps/Gartner_headquarters_cropped_7OuftNJ_sxFjbJN.jpg
geekstats/media/maps/Gartner_headquarters_cropped_7OuftNJ_x6PsZ58.jpg
geekstats/media/maps/Gd_bank_radar.webp
geekstats/media/maps/giphy.gif
geekstats/media/maps/giphy_XOZykNc.gif
geekstats/media/maps/Green-Nature-with-sunrise-wallpaper.jpeg
geekstats/media/maps/Green-Nature-with-sunrise-wallpaper_jiXzCeT.jpeg
geekstats/media/maps/Green-Nature-with-sunrise-wallpaper_jpEP3TB.jpeg
geekstats/media/maps/Green-Nature-with-sunrise-wallpaper_jZfhQQn.jpeg
geekstats/media/maps/images.jpg
geekstats/media/maps/inferno.jpg
geekstats/media/maps/mp504x498mattef8f8f8t-pad600x600f8f8f8.u3.jpg
geekstats/media/maps/storage.jpg.00e73b62d0881bcb77d0a1d68f3f055d.jpg
geekstats/stats/static/images/maps/de_biome_thumb.jpg
geekstats/stats/static/images/mirage_mbh_yako_ring.mp4
geekstats/stats/static/images/maps/de_biome_radar.jpg
geekstats/stats/static/images/maps/de_biome_image3.jpg
geekstats/stats/static/images/maps/de_biome_image2.jpg
geekstats/stats/static/images/maps/de_biome_hero.jpg
geekstats/geekstats/.vs/slnx.sqlite-journal
geekstats/geekstats/.vs/slnx.sqlite
geekstats/media/maps/duckhead.png
geekstats/stats/static/images/geeks/rivulet.png
geekstats/stats/static/images/geeks/red.png
geekstats/stats/static/images/geeks/penumbras.png
geekstats/media/maps/7e4d12ba82bba65da01dfab1060759a1.jpg
geekstats/media/maps/gartner-logo.png
geekstats/media/maps/gartner-press-release-twitter-thumbnail.png
geekstats/media/maps/giphy_fZED9LZ.gif
geekstats/media/maps/nothe_way.gif
geekstats/stats/static/images/geeks/whitecastle.png
