{% extends '../base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <p class='fmed acenter' style="">Enter Your email for the reset request:  {{ form.email }}</p>
    <p></p> 
    <div style="text-align:center; padding-bottom:50px;"><input type="submit" class="btn btn-default btn-lg" value="Reset password"></div>
  </form>
{% endblock %}