
  .note {
    width: 500px;
    margin: 50px auto;
    font-size: 1.1em;
    color: #333;
    text-align: justify;
  }
  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 900px;
    padding: 20px;
    margin: 0px;
    align-self: center;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  #fileElem {
    display: none;
  }
  .image-wrap {
    display: inline-block;
  }