@charset "utf-8";

html {
	scroll-padding-top: 150px;
}
body {
	/* font-family: 'Heebo', sans-serif;
	font-family: 'Electrolize', sans-serif;
	font-family: 'Heebo', sans-serif;
	font-family: 'Press Start 2P', cursive; */
	font-family: 'Electrolize', Verdana, Arial, serif;
	max-width: 1440px;
	margin:auto;
}

#main {
	margin-top: 208px;
}

header {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(0,0,0,0.15);
    height: 180px;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}

}
.dateSelector {
	vertical-align: middle;
	height: 42px;
}
.dateSelector fieldset {
	display:inline-block;
	border: none;
}

.dateSelector .label {
	padding-top: 10px;
	display: inline-block;
	vertical-align: top;
}

.dateSelector form {
	display: inline-block;
	width: 430px;
	vertical-align: top;
}
.dateSelector fieldset {
	width: 400px;
}
.buttons {
	display: inline-block;
	padding-top: 5px;
	vertical-align: top;
}

.buttons .button {
	display: block;
	font-size: 8px;
	width: 70px;
}

table img {
	display: inline-block;
}

input[type=submit] {
	background-color: #fbeee0;
	border: 1px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 1px 1px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	font-size: 10px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  input[type=submit]:hover {
	background-color: #fff;
  }
  
  input[type=submit]:active {
	box-shadow: #422800 1px 1px 0 0;
	transform: translate(1px, 1px);
  }
  
  @media (min-width: 768px) {
	input[type=submit] {
	  min-width: 80px;
	  padding: 0 25px;
	}
  }

  select {
	  padding: 5px;
	  width: 240px;
	  text-align: center;
	  font-family: 'Electrolize';
  }

  input[type=date] {
	padding: 5px;
	text-align: center;
	font-family: 'Electrolize';

  }
.container {
	margin:auto;
	height:100%;
	padding:0 16px;
	flex: 1 1 auto;
	align-items: center;
	max-width: 1440px;
}

.summary {
	max-width: 1440px;
	margin: auto;
}

.summary .container{
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.summary .highlightbox{
	padding-top: 25px;
}

.highlightbox {
	min-width: 30%;
	text-align: center;
	display: inline-block;
	margin: 4px;
}


.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

.hbx4 {
	min-width: 22%;
}

div {
	display: block;
}
header {
    border-style: none;
	text-align: center;
    
    height: auto;
	margin: auto;
}
footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}

table {
	width: 100%;
	margin: 0 4px;
	border-spacing: 0px;
}

td {
	padding: 2px;
}

td span {
	content: "\007C";
}

.text_right
	{text-align: right;
}

.text_center {
	text-align: center;
}

.section_center{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-size: 20px;
}

.title {
    margin: 5px auto;
    text-align: center;
    background: darkred;
    font-size: 28px;
    color: white;
    margin: revert;
    display: block;
    min-width: 100%;
}

.curr_user_box {
	font-weight: bold;
}
.curr_user_box td {
	border-top: 4px solid #1628cf;
	border-bottom: 4px solid #1628cf;
}

.curr_user_box td:first-child {
	border-left: 4px solid #1628cf;
}

.curr_user_box td:last-child {
	border-right: 4px solid #1628cf;
}

.curr_user {
	background: linear-gradient(rgb(211 210 12 / 50%),rgba(191,191,191,0.5));
	font-weight: bold;
}

.border {
	border: 1px solid gray;
}

.rowheader {
	font-size: 14px;
	margin:auto;
	background: black;
	color: white;
	font-weight: bold;
	display: block;
}

.page {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: auto;
	box-sizing: border-box;
}
.imgicon {
	height:25px;
	margin-top: 5px;
	display: inline;
	vertical-align: top;
}
.fbig {
	font-size: 36px;
	font-weight: bold;
}

.cgeek{
	background: #f1f3f4;
}
.cfest{
	background: lavenderblush;
}




.p800 {
	max-width: 800px;
	margin: auto;
	
}
.acenter {
	align-items: center;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
.h100 {
	height: 100px;
}
.m5px {
	margin: 5px;
}
.rowwrap {
	flex-flow: row wrap;
}
.colwrap {
	flex-flow: column wrap;
}
.nowrap {
	flex-flow: nowrap;
}
.tile250 {
	width:250px;
	flex: 0 0 auto;
	border: 1px solid gray;
}
.tile500 {
	width:500px;
	flex: 0 0 auto;
	border: 1px solid gray;
}
.header{
	text-align: center;
	background: lightgray;
	width:100%;
	font-size: 16px;
	margin: 3px;
	font-weight: bold;

}

.header .hddata{
	display: inline-block;
	float:left;
}

.header .hero{
	width: 40%;
	float: left;
	font-size: 20px;
}

.header .info{
	font-weight: 300;
	font-size: 14px;
	padding-left:10px;
	padding-top: 4px;
	float:right;

}

#myMap {
	background-image: url('/static/images/searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 90%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
  }

.header .box{
	border: 1px dotted gray;
	float: right;
	width: 15px;
	height: 15px;
	background: green;
	border-radius: 3px;
	margin-bottom: 1px;
}
table .box {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
 }

 table .tbox {
    background-color: darkslategray;
	color:yellow;
	border-radius: 20px;
 }
 table .ctbox {
    background-color: darkslategray;
	color:white;
 }
 table .t2box {
    background-color: darkred;
	color:white;
	border-radius: 20px;
 }
 table .ct2box {
    background-color: darkred;
	color:white;
 }
 table .xbox {
    background-color: gray;
	color:black;
 }
 


.row {
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
}

.orow {
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
}


.row:nth-of-type(odd) {
	background-color:rgb(224,224,224,.5);
}
.data{
	padding: 2px;
	font-size: 12px;
	text-align: left;
	display: inline-block;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.short{
	width:35px;
}
.medium{
	width:100px;
}

.fmed {
	font-size: 24px;
}
.freg {
	font-size: 16px;
}
.fsmall {
	font-size: 12px;
}
.focus{
	text-align:left;
	width:75%;
}
.long{
	text-align:left;
	width:25%;
}

.noflow{
	overflow: hidden;
}
.master{
	background-color: rgb(254,225,1);
	background: rgb(254,225,1);
}
.silver {
	background-color: rgb(215, 215, 215);
	background: rgb(215, 215, 215);
}
.bronze {
	background-color: rgb(167, 112, 68);
	background: rgb(167, 112, 68);
}
.gold {
	background-color: rgb(214, 175, 54);
	background: rgb(214, 175, 54);
}

.black {
	background-color: #111;
	color:white;
	padding-left: 2px;
}

.floral {
	background-color: floralwhite;
	border: 2px solid white;
}

.winner {
	background: DimGrey;
	color: White;
}
.zebra tr:nth-child(even) {
  background-color: #f2f2f2;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 26px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
a {
	color:black;
	opacity: 1;
}



/********************************* TAB SELECTOR STYLES ***********************************/
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border: 1px dotted green;
  width: 25%;
  outline: none;
  cursor: pointer;
  margin: 2px 0px 2px 0px;
  padding: 10px 12px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: lightblue;
  color: black;
  font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: darkred;
  color: white;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 2px 0px;
  border: none;
  border-top: none;
}

.team {
	margin: 5px;
	padding: 2px;
	border-radius: 10px;
	background-color: lightgrey;
	color: gray;
	height: 20px;
	padding-top: 5px;
}

.team:hover{
	background: #7fc469;
	color: #fff;
}

.team:active{
	background: #bb4242;
	color: #fff;
}

.btnactive {
	background: #bb4242;
	color: #fff;
}

.tabteam {
	display: inline-block;
	width: 100%;
}
/********************************* GFXX:V Styles ***********************************/
.gfxx_title {
	background: black; 
	color:white; 
	min-width:123px; 
	max-width:123px; 
	flex:1; 
	align-self:stretch;
	text-align:center; 
	padding:10px;
	border:2px solid white;
}
.wm_team {
	padding: 10px; 
	border:1px dotted gray; 
	text-shadow: 2px 2px 5px silver; 
	font-weight:bold; 
	text-align:center;
}
.wm_score {
	padding: 10px; 
	width:40%; 
	border:1px dotted gray; 
	text-align:center;
	font-size:28px;
}
.awd_header {
	padding-top:5px; 
	font-size:12px; 
}
/********************************* Fixed and New GF Styles  ***********************************/
.login {
	position: fixed;
    height: 25px;
    top: 100px;
	right: 50px;;
    display: inline-block;
}

.login-text {
	display: inline-block;
    vertical-align: top;
    color: lightgray;
    padding-top: 5px;
    padding-left: 10px;
}

.login-img {
	display: inline-block;
    vertical-align: top;
}

.pop-graph {
	position: absolute;
	margin-left: 200px;
    width: 1000px;
	padding: 5px;
	background-color: darkred;
    display: none;
	border: 20px black dashed;
	border-radius: 20px;

}
	
/*********** New Tiers Styles from GF Live Awards **************/
.aw-header {
	font-size: 1rem;
	height: 1.2rem;
	  padding:0.15rem;
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: nowrap;
	  overflow: hidden;
	  wrap: none;
	  color: rgb(27, 27, 27);
  }
  
  .chev:before {
	border-style: solid;
	  
	  content: '';
	  display: inline-block;
	  height: 1.2rem;
	  left: .15em;
	  position: relative;
	  
	  transform: rotate(-45deg);
	  vertical-align: top;
	  width: 1.2rem;
	left: 0;
	  transform: rotate(45deg);
  }
  
  .chev1:before {
	border-width: 0.1rem 0.1rem 0 0;
	top: -0.05rem;
	left: 2rem;
  }
  .chev2:before {
	border-width: 0.3rem 0.3rem 0 0;
	top: -0.15rem;
	left: 2.5rem;
	
  }
  .chev3:before {
	border-width: 0.5rem 0.5rem 0 0;
	left: 2.4rem;
	top: -0.23rem;
  }
  .chev4:before {
	border-width: 0.7rem 0.7rem 0 0;
	left: 2.2rem;
	top:-0.32rem;
	
  }
  .chev5:before {
	border-width: 0.9rem 0.9rem 0 0;
	left: 1.6rem;
	top: -0.49rem;
  }
  .chev6:before {
	border-width: 1.1rem 1.1rem 0 0;
	left: 0.65rem;
	top:-0.56rem;
	
  }
  
  .player {
	  color: #fff;
	  text-shadow: 3px 3px;
	  font-size: 2.5rem;
	  margin-left: 1rem;
	  font-style: italic;
  }
  .awardname {
	  font-weight: bold;
	  font-stretch: expanded;
	  padding: 0.1rem;
  }
  .img {
  width: 7rem;
  height: 8rem;
  border: 2px solid #d1272f;
  background-color: #3e3e3e;
  background-size: cover; 
  background-position: center;
  }

  .award {
  background: rgb(27, 27, 27);
  padding: 1rem;
  height: 6em;
  width: 20rem;
  display: inline-block;
  margin: 1rem auto;
  border-radius: 0.65rem;
  display: flex;
  color: white;
  }
  
  .award-section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;

  }
  
  .award-section .img {
	width: 6rem;
    height: 6rem;
    border: 2px ;
    background-size: cover;
    background-position: center;
  }

  .award-section .player {
	color: #fff;
    text-shadow: 2px 2px gold;
    font-size: 30px;
    margin-left: 1rem;
    font-style: italic;
  }

  .award-section .aw-header {
    font-size: 1rem;
    height: 1.2rem;
    padding: 0.15rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    wrap: none;
    color: rgb(27, 27, 27);
  }

  .award-section .statinfo {
	text-transform: uppercase;
	margin-left: 1rem;
	font-size: 14px;
  }

  