@charset "utf-8";

.container {
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly
	align-items: flex-start;
}
.rowwrap {
	flex-flow: column wrap;
}
.w250 {
	width: 250px;

}

.header{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.row {
	font-size: 12px;
	padding: 2px 2px 2px 2px;
}
.row:nth-of-type(odd) {
	background:#e0e0e0;
}
.data{
	font-size: 12px;
	flex: flex-grow;
}
.focus{
	text-align:left;
	font-weight: bold;
	flex-grow: 5;
}
.silver {
	background-color: rgb(204, 204, 204);
}
.bronze {
	background-color: rgb(170, 136, 68);
}
.gold {
	background-color: rgb(225, 180, 90);
}

.popup { position: relative; }
.popup a span { display: none; color: #444444; }
.popup a:hover span {display: block; position: absolute; width: 825px; 
		background: #aaa url(images/horses200x50.jpg); height: 350px; 
		left: 100px; top: -10px; color: #FFFFFF; padding: 0 5px; }
div {
  position: relative;
}
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

label {
  cursor: pointer;
}
label {
  position: relative;
  display: block;
  padding-left: 30px;
  font-family: "Spicy Rice", cursive;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  color: #4a19ff;
  margin: 20px 0 0;
}
label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 10px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
}
input[type="checkbox"]:checked ~ h2 label::before {
  border-left: 8px solid transparent;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
}

p {
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  transition: max-height 0.4s ease;
  font-family: "Habibi", serif;
}
input[type="checkbox"]:checked ~ h2 ~ p {
  max-height: 80px;
}







.body {
  position: absolute;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.main {
	flex: 1;
	display:flex;
	flex-flow: column wrap;
	border: 1px solid black;
}
.content {
	flex: 1;
	display: flex;
	overflow: auto;
}
.adetail {
	width:225px;
	text-align: center;
	flex-flow: row wrap;
	border: 1px solid orange;
}
.bdetail {
	width:225px;
	text-align: center;
	flex: 1;
	display:flex;
	overflow: auto;
	flex-flow: row wrap;
	border: 1px solid orange;
}
.name {
	width:125px;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid blue;
}
.desc {
	width:125px;
	font-size: 10px;
	float:left;
}
.winner {
	width: 225px;
	flex: 0 0 auto;
	height: 40px;
	border: 1px solid yellow;
}
.lister {
font-size: 10px;
display:flex;
flex-flow: row wrap;
min-height: min-content;
border: 1px solid green;
}

.dataend{
text-align:left;
font-size: 16px;
}	

	
.data{
float:left;
text-align:left;
font-size: 16px;
width: 200px;
height: 15px;
line-height: 15px;
padding-left: 2px;
}	
.cell{
float:left;
text-align:center;
font-size: 16px;
width: 75px;
height: 15px;
line-height: 15px;
padding-left: 2px;
}	
.hdr{
float:left;
text-align:center;
font-size: 16px;
font-weight: bold;
width: 75px;
height: 15px;
line-height: 15px;
padding-left: 2px;
}	
.font8 {
font-family: 'Monoton', sans-serifsadsad;
display:block;
text-align: center;
font-size: 24px;
vertical-align:bottom;
height:35px;
color: lime;
border-bottom: 3px solid red;
}
	table {
		   border-collapse: collapse;
		   --float: left;
	}

	table, th, td {
		   border: 1px solid grey;
		   padding: 5px;
	}
	
	p {
	  text-align: center;
	  font-size: 150%;
	  font-weight: bold;
	  color: red;
	  margin-top:0px;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;

		width: 100%;
	}

	li {
		float: left;
		border-right: 1px solid #bbb;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 8px 26px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #111;
	}

	.active {
		background-color: #4CAF50;
	}

	.awesome {
  
	  width:100%;
	  margin: 0 auto;
	  text-align: center;
	  color:#313131;
	  font-size:125px;
	  font-weight: bold;
	  -webkit-animation:colorchange 20s infinite alternate;
	}

	@-webkit-keyframes colorchange {
	0% {
	
	color: blue;
  }
  
	10% {
	
	color: #8e44ad;
  }
  
	20% {
	
	color: #1abc9c;
  }
  
	30% {
	
	color: #d35400;
  }
  
	40% {
	
	color: blue;
  }
  
	50% {
	
	color: #34495e;
  }
  
	60% {
	
	color: blue;
  }
  
	70% {
	
	color: #2980b9;
  }
	80% {
 
	color: #f1c40f;
  }
  
	90% {
 
	color: #2980b9;
  }
  
	100% {
	
	color: pink;
  }
}
#header {
    border-style: none;
    width: 800px;
    height: auto;
}
#wrapper {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;	
	border-bottom: 1px dotted yellow;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    color: #474747;
}
h1 {
    color: #270c39;
}
#footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
#nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    list-style-type: none;
    border-bottom: thin solid #e0e0e0;
    color: #1e9d36;
    left: 0px;
    list-style-position: inside;
}

#main {
    width: 800px;
    float: left;
    margin: 0 10px 50px 20px;	
    padding-right: 10px;
}
#logo {
    padding: 10px;
    float: left;
}
