@charset "utf-8";

html {
	scroll-padding-top: 150px;
}
body {
	/* font-family: 'Heebo', sans-serif;
	font-family: 'Electrolize', sans-serif;
	font-family: 'Heebo', sans-serif;
	font-family: 'Press Start 2P', cursive; */
	font-family: 'Electrolize', Verdana, Arial, serif;

	margin:auto;
}
#main {
	margin-top: 230px;
}
.page {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: auto;
	box-sizing: border-box;

}
header {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(0,0,0,0.15);
    height: 180px;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
	z-index:9999;
}

.title {
	margin: auto;
	text-align: center;
	background: darkred;
	font-size: 28px;

	color: white;
}
.dateSelector {
	all: revert;
	vertical-align: middle;
	height: 42px;
	border: none;
}
.dateSelector fieldset {
	all: revert;
	display:inline-block;
	border: none;
}

.dateSelector .label {
	all: revert;
	padding-top: 10px;
	display: inline-block;
	vertical-align: top;
}

.dateSelector form {
	all: revert;
	display: inline-block;
	width: 430px;
	vertical-align: top;
}

.buttons {
	all: revert;
	display: inline-block;
	padding-top: 5px;
	vertical-align: top;
}

.buttons .button {
	all: revert;
	display: block;
	font-size: 8px;
	width: 70px;
}
input[type=date] {
	all:revert;
	padding: 5px;
	text-align: center;
	font-family: 'Electrolize';

  }

  input[type=submit] {
	background-color: #fbeee0;
	border: 1px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 1px 1px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	font-size: 10px;
	padding: 0 5px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  input[type=submit]:hover {
	background-color: #fff;
  }
  
  input[type=submit]:active {
	box-shadow: #422800 1px 1px 0 0;
	transform: translate(1px, 1px);
  }

  select {
	all:revert;
	padding: 5px;
	width: 240px;
	text-align: center;
	font-family: 'Electrolize';
}

.cgeek{
	background: #f1f3f4;
}
.cfest{
	background: lavenderblush;
}

.container {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
	justify-content: space-evenly;
	align-items: flex-start;
}

.border {
	border: 1px solid gray;
}
.p800 {
	max-width: 800px;
	margin: auto;
	
}
.acenter {
	align-items: center;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}
.h100 {
	height: 100px;
}
.m5px {
	margin: 5px;
}
.rowwrap {
	flex-flow: row wrap;
}
.colwrap {
	flex-flow: column wrap;
}
.nowrap {
	flex-flow: nowrap;
}
.tile250 {
	width:250px;
	flex: 0 0 auto;
	border: 1px solid gray;
}
.tile500 {
	width:500px;
	flex: 0 0 auto;
	border: 1px solid gray;
}



.orow {
	font-size: 12px;
	width: 100%;
	box-sizing: border-box;
}
.rowheader {
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	background: black;
	color: white;
	font-weight: bold
}

.row:nth-of-type(odd) {
	background-color:rgb(224,224,224,.5);
}
.data{
	padding: 2px;
	font-size: 12px;
	text-align: left;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.short{
	width:35px;
}
.medium{
	width:100px;
}
.fbig {
	font-size: 36px;
}
.fmed {
	font-size: 24px;
}
.freg {
	font-size: 16px;
}
.fsmall {
	font-size: 12px;
}
.fbold {
	font-weight: bold;
}
.focus{
	text-align:left;
	width:75%;
}
.long{
	text-align:left;
	width:25%;
}

.noflow{
	overflow: hidden;
}
.master{
	background-color: rgb(254,225,1);
}
.silver {
	background-color: rgb(215, 215, 215);
}
.bronze {
	background-color: rgb(167, 112, 68);
}
.gold {
	background-color: rgb(214, 175, 54);
}
.winner {
	background: DimGrey !important;
    background-color: DimGrey !important;
	color: White;
    transform: scale(1);
    box-shadow: 0px 1px 7px #666;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 26px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
a {
	color:black;
	opacity: 1;
}


#header {
    border-style: none;
	text-align: center;
    
    height: auto;
	margin: auto;
}
#footer {
    text-align: center;
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-top: thin solid #BBBBBB;
    clear: both;
    color: #969696;
}
/********************************* TAB SELECTOR STYLES ***********************************/
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border: 1px dotted green;
  width: 25%;
  outline: none;
  cursor: pointer;
  margin: 2px 0px 2px 0px;
  padding: 10px 12px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: lightblue;
  color: black;
  font-weight: bold;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: darkred;
  color: white;
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 2px 0px;
  border: none;
  border-top: none;
}
/********************************* GFXX:V Styles ***********************************/
.gfxx_title {
	background: black; 
	color:white; 
	min-width:123px; 
	max-width:123px; 
	flex:1; 
	align-self:stretch;
	text-align:center; 
	padding:10px;
	border:2px solid white;
}
.wm_team {
	padding: 10px; 
	border:1px dotted gray; 
	text-shadow: 2px 2px 5px silver; 
	font-weight:bold; 
	text-align:center;
}
.wm_score {
	padding: 10px; 
	width:40%; 
	border:1px dotted gray; 
	text-align:center;
	font-size:28px;
}
.awd_header {
	padding-top:5px; 
	font-size:12px; 
}

.shadow {
    -webkit-box-shadow: 5px 3px 9px #F6F6F6 !important;
    box-shadow: 5px 3px 9px #F6F6F6 !important;
}

.radius {
    border-radius: 0.1rem !important;
}

/********************************* Fixed and New GF Styles  ***********************************/
.login {
	position: fixed;
    height: 25px;
    top: 100px;
	right: 50px;;
    display: inline-block;
}

.login-text {
	display: inline-block;
    vertical-align: top;
    color: lightgray;
    padding-top: 5px;
    padding-left: 10px;
}

.login-img {
	display: inline-block;
    vertical-align: top;
}
	